// Typography

// 18px
@mixin heading-regular {
	font-family: var(--font-primary);
	font-size: var(--font-p-large);
	font-weight: 400;
	letter-spacing: 0;
	line-height: var(--space-24);
	text-transform: capitalize;
}
@mixin heading-medium {
	@include heading-regular;
	font-weight: 600;
}
@mixin heading-bold {
	@include heading-regular;
	font-weight: 700;
}

// 16px
@mixin body-regular {
	font-family: var(--font-primary);
	font-size: var(--font-p-medium);
	font-weight: 400;
	letter-spacing: 0;
	line-height: var(--space-16);
}
@mixin body-medium {
	@include body-regular;
	font-weight: 600;
}
@mixin body-bold {
	@include body-regular;
	font-weight: 700;
}

// 14px
@mixin note-regular {
	font-family: var(--font-primary);
	font-size: var(--font-p);
	font-weight: 400;
	letter-spacing: 0;
	line-height: var(--space-14);
}
@mixin note-medium {
	@include note-regular;
	font-weight: 500;
}
@mixin note-bold {
	@include note-regular;
	font-weight: 600;
}

@mixin button {
	font-weight: 600;
	text-transform: uppercase;
	color: var(--color-white);
}

@mixin paragraph-text {
	color: var(--color-black-500);
}
@mixin disabled-text {
	color: var(--color-black-600);
}
