.CraftingTable {
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.CraftingTable ul {
    list-style: none;
}

#big-output {
    margin-left: 200px;
    margin-top: 25px;
}